<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <environment include="Development">
        <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,500,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700pattern.png" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!--=========Bootstrap Library=============-->
        <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
        <!--=========Owl Carousel Library=============-->
        <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
        <!--=======Default Owl Carousel Library===========-->
        <link rel="stylesheet" href="~/css/owl.theme.default.min.css" type="text/css">
        <link href="~/css/ion.rangeSlider.css" rel="stylesheet" />
        <link href="~/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" />
        <!--=========Animate Style=============-->
        <link rel="stylesheet" href="~/css/animate.css" type="text/css">
        <!--=========Custome Style=============-->
        <link rel="stylesheet" href="~/css/style.css" type="text/css">
        <!--=========Green Style=============-->
        <link rel="stylesheet" title="green" href="~/css/style.css" type="text/css" data-default-color="true">
        <link href="~/css/toastr.css" rel="stylesheet" />
        <link href="~/css/toastr.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body class="home2">
    <input type="hidden" id="success" value="@TempData["success"]" />
    <input type="hidden" id="info" value="@TempData["info"]" />
    <input type="hidden" id="info" value="@TempData["warning"]" />
    <input type="hidden" id="error" value="@TempData["error"]" />
    <!--======== Fix Button  =================-->
    <ul class="fixbutton">
        <li><a href="#categorie" data-toggle="modal"><span>Danh mục</span><i class="fa fa-align-justify"></i></a></li>
        <li><a href="cart.html" target="_blank"><span>Giỏ hàng</span><i class="fa fa-shopping-cart"></i></a></li>
        <li><a href="#views" data-toggle="modal"><span>Xem gần đây</span><i class="fa fa-eye"></i></a></li>
        <li><a class="scrollup"><span>Đầu trang</span><i class="fa fa-angle-double-up"></i></a></li>
    </ul>
    <!--======== /Fix Button  =================-->
    <!--========= Header =============-->
    <header>
        <!--====== Tophead ========-->
        <nav>
            <div class="container">
                <div class="row tophead">
                    <partial name="_LoginHeaderPartial" />
                    <partial name="_CheckoutPartial" />
                </div>
            </div>
        </nav>
        <!--======== /Tophead ======-->
        <!--======== Midhead ========-->
        <div class="container">
            <div class="row midhead">
                <!-- Searchbox -->
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <a class="active" asp-controller="Home" asp-action="Index" title="Online Fashion | Home">
                        <img src="~/images/logo_1.png" alt="Pcube Online Fashion">
                    </a>
                </div>
                <!-- /Searchbox -->
                <!-- Logo -->
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4 text-center">
                    <div class="search">
                        <form method="post" asp-action="SearchProductByProductName" asp-controller="Home">
                            <input type="search" name="productName" id="productName" placeholder="Tìm kiếm">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <!-- /Logo -->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 text-right">
                    <!-- Call -->
                    <div class="cartbox">
                        <i class="fa fa-phone fa-2x"></i>
                        <span><b>(888) 1338 8193</b></span>
                        <span>Thời gian mở cửa: 9h - 22h</span>
                    </div>
                    <!-- /Call -->
                    <!-- Basket -->
                    <div class="cartbox basket">
                        <i class="fa fa-cart-plus fa-2x"></i>
                        <span><b>Giỏ hàng</b></span>
                        <span>
                            @if (ViewBag.quanty == null)
                            {
                                <span>Giỏ hàng trống</span>
                            }
                            else
                            {
                                <span>@ViewBag.quanty sản phẩm</span>
                            }
                            <i class="fa fa-angle-down"></i>
                        </span>
                        <ul class="shopdata">
                            <li class="cartempty">
                                <table>
                                    <tr>
                                        <td><a asp-controller="Cart" asp-action="ViewCart" title="View">Xem giỏ hàng</a></td>
                                    </tr>
                                </table>
                            </li>
                            <li class="cartfull">
                                <table>
                                    @if (ViewBag.cart != null)
                                    {
                                        foreach (var item in ViewBag.cart)
                                        {
                                            <tr>
                                                <td class="text-center"><img class="height-img-cart" src="~/images/Product/@item.Product.ProductImage" alt="cartimg"></td>
                                                <td><a href="#">@item.Product.ProductName</a> <br></td>
                                                <td><br>@item.Quantity</td>
                                                <td>@(item.Product.ProductPrice * item.Quantity * (100 - item.Product.ProductSale) / 100)</td>
                                                <td><a asp-action="Remove" asp-controller="Cart" asp-route-productId="@item.Product.ProductId" data-toggle="tooltip" data-placement="top" title="delete"><i class="fa fa-trash"></i></a></td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="text-center" colspan="6">Chưa có sản phẩm trong giỏ hàng</td>
                                        </tr>
                                    }
                                </table>
                            </li>
                            <li class="cartbutton">
                                <a asp-controller="Cart" asp-action="ViewCart" title="View">Xem giỏ hàng</a>
                                <a asp-controller="Cart" asp-action="CheckOut" title="Checkout">Xác nhận giỏ hàng</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Basket -->
                </div>
            </div>
        </div>
        <!--======= /Midhead =========-->
        <!--========= Menu ===========-->
        <div class="" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
            <div class="container">
                <div class="row menu">
                    <div class="col-sm-12">
                        <a class="mobile"><i class="fa fa-bars fa-2x"></i>Menu</a>
                        <ul>
                            <li><a class="closemenu">close</a></li>
                            <li class="singlesub">
                                <a class="active" asp-controller="Home" asp-action="Index" title="Trang chủ"><i class="fa fa-angle-double-left"></i>Trang chủ</a>
                            </li>
                            <li class="singlesub">
                                <a href="javascript:void(0)" title="Pages">Danh mục sản phẩm<i class="fa fa-angle-down"></i></a>
                                <!-- SUBMENU -->
                                <div class="submenus">
                                    <ul>
                                        @{
                                            IEnumerable<Category> category = ViewBag.Category as IEnumerable<Category>;
                                            @Html.Partial("~/Views/Home/MenuPartial.cshtml", category);
                                        }
                                    </ul>
                                </div>
                                <!-- /SUBMENU -->
                            </li>
                            @*<li><a asp-controller="Home" asp-action="AboutProduct" title="Layout">Giới thiệu sản phẩm</a></li>
                            <li><a asp-controller="Home" asp-action="Contact" title="">Liên hệ</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--========= /Menu =========-->
    </header>
    @RenderBody()
    <div>
        <div class="container">
            <div class="row copyright">
                <div class="col-sm-12 col-lg-9 text-left">
                    <p class="white-text">© 2018 DANNY SHOP. Đã đăng ký bản quyền. Thiết kế bởi <a href="#" target="_blank" title="Pcube IT">Nhóm 1</a></p>
                </div>
                <!-- Payment -->
                <div class="col-sm-12 col-lg-3 text-right">
                    <img src="~/images/payment.png" alt="payment">
                </div>
                <!-- /Payment -->
            </div>
        </div>
    </div>
    <environment include="Development">
        <script src="~/js/jquery-3.2.1.min.js"></script>
        <!--=========Bootstrap Js=============-->
        <script src="~/js/bootstrap.min.js"></script>
        <!--=========Timer Js=============-->
        <script src="~/js/timer.js"></script>
        <!--=========Owl Carousel Js=============-->
        <script src="~/js/owl.carousel.min.js"></script>
        <!--=========Custom Js=============-->
        <script src="~/js/custom.js"></script>
        <!--=========Switch Color Js=============-->
        <script src="~/js/switch-color.js"></script>
        <script src="~/js/validater/jquery.validate.js"></script>
        <script src="~/js/validater/jquery.validate.min.js"></script>
        <script src="~/js/validater/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/validater/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/app.js"></script>
        <script src="~/js/zoom.js"></script>
        <script src="~/lib/toast/toastr.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
