
@{
    ViewData["Title"] = "Xác nhận giỏ hàng";
}

@model FITHAUI.ShoppingCart.UI.Models.Cart;
@{
    IEnumerable<Product> productNew = ViewBag.ProductNew as IEnumerable<Product>;
    IEnumerable<Product> productHost = ViewBag.ProductHost as IEnumerable<Product>;
    IEnumerable<Product> productSearch = ViewBag.ProductSearch as IEnumerable<Product>;
    IEnumerable<Category> category = ViewBag.Category as IEnumerable<Category>;
    IEnumerable<CartIndexViewModel> cart = ViewBag.cart as IEnumerable<CartIndexViewModel>;
}
<!--======== Fix Button  =================-->
<ul class="fixbutton">
    <li><a href="#categorie" data-toggle="modal"><span>Categories</span><i class="fa fa-align-justify"></i></a></li>
    <li><a href="cart.html" target="_blank"><span>Cart</span><i class="fa fa-shopping-cart"></i></a></li>
    <li><a href="#views" data-toggle="modal"><span>Recent View</span><i class="fa fa-eye"></i></a></li>
    <li><a class="scrollup"><span>Go to Top</span><i class="fa fa-angle-double-up"></i></a></li>
</ul>
<!--======== /Fix Button  =================-->
<!--======= CHECKOUT ==============-->
<div class="checkout">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--===== Details ==========-->
                <div class="legend">
                    @*<h6>Thông tin giỏ hàng</h6>*@
                    <!--======= Nav tabs ===========-->
                    <div class="tab-content">
                        <!--====== Guest =======-->
                        <div class="tab-pane active" id="guest">

                            @*@if (ViewBag.cart != null)
                                {
                                    foreach (var item in ViewBag.cart)
                                    {
                                        <tr>
                                            <td class="text-center"><img class="height-img-cart" src="~/images/Product/@item.Product.ProductImage" alt="cartimg"></td>
                                            <td>@item.Product.ProductName</td>
                                            <td>@item.Product.ProductSale %</td>
                                            <td><input type="text" class="inputtext" placeholder="1" value="@item.Quantity"></td>
                                            <td class="text-right">@item.Product.ProductPrice</td>
                                            <td class="text-right">@(item.Product.ProductPrice * item.Quantity * (100 - item.Product.ProductSale) / 100)</td>
                                            <td><a asp-action="Remove" asp-controller="Cart" asp-route-productId="@item.Product.ProductId" data-toggle="tooltip" data-placement="top" title="delete"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" colspan="6">Chưa có sản phẩm trong giỏ hàng</td>
                                    </tr>
                                }*@
                        </div>
                    </div>
                </div>
                <!--===== Address ==========-->
                <form method="post" asp-action="CreateOrder">
                    <div class="legend disable">
                        <h6>Thông tin khách hàng</h6>
                        <div class="form-control">
                            <label asp-for="Name" class="col-sm-12 col-lg-4">
                                Họ tên khách hàng: *
                            </label>
                            <div class="col-sm-12 col-lg-8">
                                <input asp-for="Name" type="text" name="Name" class="textprop">
                            </div>
                        </div>
                        <div class="form-control">
                            <label asp-for="Phone" class="col-sm-12 col-lg-4">
                                Số điện thoại 1: *
                            </label>
                            <div class="col-sm-12 col-lg-8">
                                <input asp-for="Phone" type="text" name="Phone" class="textprop">
                            </div>
                        </div>
                        <div class="form-control">
                            <label asp-for="Email" class="col-sm-12 col-lg-4">
                                Email 1: *
                            </label>
                            <div class="col-sm-12 col-lg-8">
                                <input asp-for="Email" type="text" name="Email" class="textprop">
                            </div>
                        </div>
                        <div class="form-control">
                            <label asp-for="Address" class="col-sm-12 col-lg-4">
                                Địa chỉ: *
                            </label>
                            <div class="col-sm-12 col-lg-8">
                                <input asp-for="Address" type="text" name="Address" class="textprop">
                            </div>
                        </div>
                        <div class="form-control last">
                            <div class="row">
                                <div class="col-sm-6 text-left float-left">
                                    <input type="submit" value="Quay lại" class="button">
                                </div>
                                <div class="col-sm-6 text-right">
                                    <input type="submit" value="Tiếp tục" class="button">
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<!--======= /CHECKOUT =============-->
<!--======== Modal ==========-->
<div class="modal fade" id="categorie">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-align-justify"></i>All Categories</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li><a href="#">Accessories<i class="fa fa-plus"></i></a></li>
                    <li><a href="#">Fashion<i class="fa fa-plus"></i></a></li>
                    <li><a href="#">Furnitures<i class="fa fa-plus"></i></a></li>
                    <li><a href="#">Shoes<i class="fa fa-plus"></i></a></li>
                    <li><a href="#">Smartphone<i class="fa fa-plus"></i></a></li>
                    <li><a href="#">Towels Cloud<i class="fa fa-plus"></i></a></li>
                    <li><a href="#">Watches<i class="fa fa-plus"></i></a></li>
                    <li><a href="#">Electronics<i class="fa fa-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="views">
    <div class="modal-dialog">
        <div class="modal-content row">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="col-sm-12 col-lg-5">
                <a href="#"><img src="~/images/big1.jpg" alt="viewimg"></a>
            </div>
            <div class="col-sm-12 col-lg-7 detail">
                <h4>Tunique</h4>
                <span class="price">$ 56</span>
                <ul class="brand">
                    <li>Brand: <a href="#">Apple</a></li>
                    <li>Product Code: d6</li>
                    <li>Sold By: <a href="#">Labore Magna</a></li>
                    <li>Availability: <i class="fa fa-check-square-o"></i> In Stock</li>
                </ul>
                <h6>OverView</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <h6>Available Options</h6>
                <ul class="colors">
                    <li title="Yellow"><input type="radio" name="color" checked="checked" id="size01"><label for="size01"></label></li>
                    <li class="blue" title="Blue "><input type="radio" name="color" id="size02"><label for="size02"></label></li>
                    <li class="lime" title="Lime"><input type="radio" name="color" id="size03"><label for="size03"></label></li>
                    <li class="silver" title="Silver"><input type="radio" name="color" id="size04"><label for="size04"></label></li>
                    <li class="pink" title="Pink"><input type="radio" name="color" id="size05"><label for="size05"></label></li>
                </ul>
                <ul class="incrtevalue">
                    <li>
                        <form>
                            <input type='button' value='-' class='qtyminus button' />
                            <input type='text' name='quantity' value='1' class='qty' />
                            <input type='button' value='+' class='qtyplus button' />
                        </form>
                    </li>
                    <li><a href="#" title="Add to Cart" class="button"><i class="fa fa-shopping-cart"></i>ADD TO CART</a></li>
                    <li><a href="detail-one.html" title="" class="button"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>