@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
@foreach (var item in Model)
{
    <div class="col-sm-12 col-lg-3 item">
        <ul class="viewcart">
            <li><a asp-action="AddToCart" asp-controller="Cart" asp-route-productId="@item.ProductId" data-toggle="tooltip" data-placement="right" title="Thêm vào giỏ"><i class="fa fa-shopping-cart"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
            <li><a asp-action="ProductDetails" asp-controller="Home" asp-route-productId="@item.ProductId" data-toggle="tooltip" data-placement="right" title="Chi tiết"><i class="fa fa-eye"></i></a></li>
        </ul>
        <a href="#" class="proimg">
            <img src="~/images/Product/@item.ProductImage" alt="skirt" class="normal">
        </a>
        <ul class="rating">
            @for (int i = 0; i < item.ProductRatting; i++)
            {
                <li class="active"><i class="fa fa-star"></i></li>
            }
            @for (int i = 0; i < 5 - item.ProductRatting; i++)
            {
                <li class=""><i class="fa fa-star"></i></li>
            }
        </ul>
        <p>@item.ProductName</p>
        <p class="price">
            <span>
                @{
                    var price = item.ProductPrice;
                    var cost = (price * item.ProductSale) / 100;
                }
                @String.Format(info, "{0:c}", cost)
            </span><span class="del">
                @String.Format(info, "{0:c}", item.ProductPrice)
            </span>
        </p>
        <div class="catedetail">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <button class="button"><i class="fa fa-heart-o"></i>Add to wish list</button>
        </div>
    </div>
}
