
@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Areas/Identity/Pages/_Layout.cshtml";
}

@model FITHAUI.ShoppingCart.UI.Models.ProductCategoryViewModel
@* Thêm sửa xóa sản phẩm *@
<div class="content">
    <div class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="container-login100-form-btn">
                                <form action="/" method="post">
                                    <button class="login100-form-btn btn btn-primary btn-cencal" type="submit" asp-action="GetAllProductList" asp-controller="Product">Hủy</button>
                                </form>
                            </div>
                            <form class="login100-for validate-form form-insert" method="post" asp-action="UpdateProduct" enctype="multipart/form-data">
                                <div class="mb-2 mt-4 validate-input d-none">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-2">
                                            <label asp-for="ProductId" class="pt-2"></label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-10">
                                            <input asp-for="ProductId" class="form-control border border-secondary" />
                                            <span asp-validation-for="ProductId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2 mt-4 validate-input">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-2">
                                            <label asp-for="ProductName" class="pt-2"></label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-10">
                                            <input asp-for="ProductName" class="form-control border border-secondary" />
                                            <span asp-validation-for="ProductName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2 validate-input" data-validate="Password is required">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-2">
                                            <label asp-for="ProductCode" class="pt-2"></label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-10">
                                            <input asp-for="ProductCode" class="form-control border border-secondary" />
                                            <span asp-validation-for="ProductCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2 validate-input" data-validate="Password is required">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-2">
                                            <label asp-for="ProductPrice" class="pt-2"></label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-10">
                                            <input asp-for="ProductPrice" class="form-control border border-secondary" />
                                            <span asp-validation-for="ProductPrice" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2 validate-input" data-validate="Password is required">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-2">
                                            <label asp-for="ProductAmount" class="pt-2"></label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-10">
                                            <input asp-for="ProductAmount" class="form-control border border-secondary" />
                                            <span asp-validation-for="ProductAmount" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2 validate-input" data-validate="Password is required">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-2">
                                            <label asp-for="ProductColor" class="pt-2"></label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-10">
                                            <input asp-for="ProductColor" class="form-control border border-secondary" />
                                            <span asp-validation-for="ProductColor" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2 validate-input" data-validate="Password is required">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-2 pt-4">
                                            <label asp-for="ProductImage" class="pt-2"></label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-10">
                                            <input asp-for="ProductImage" type="file" class="form-control border border-secondary" />
                                            <span asp-validation-for="ProductImage" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2 validate-input">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-2">
                                            <label asp-for="ProductDescription" class="pt-2"></label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-10">
                                            @Html.TextArea("ProductDescription", null, new { @class = "form-control", @id = "ProductDescription", @name = "ProductDescription" })
                                            <span asp-validation-for="ProductDescription" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2 validate-input">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-2">
                                            <label asp-for="@Model.CategoryName" class="pt-2"></label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-10">
                                            @Html.DropDownList("CategoryId", ViewBag.ListCategory, null, new { @class = "btn btn-secondary w-100 text-dark bg-white dropdown-toggle" })
                                            @Html.ValidationMessageFor(model => model.CategoryId)
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2 validate-input" data-validate="Password is required">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-2">
                                            <label asp-for="ProductNew" class="pt-2"></label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-10">
                                            @Html.DropDownListFor(m => m.ProductNew, new List<SelectListItem>
                                           {
                                              new SelectListItem{Text="Mới", Value="1"},
                                              new SelectListItem{Text="Cũ", Value="0"}
                                           },
                                              new { @class = "btn btn-secondary w-100 text-dark bg-white dropdown-toggle" })
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2 validate-input" data-validate="Password is required">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-2">
                                            <label asp-for="ProductStatus" class="pt-2"></label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-10">
                                            @Html.DropDownListFor(m => m.ProductStatus, new List<SelectListItem>
                                            {
                                               new SelectListItem{Text="Còn hàng", Value="1"},
                                               new SelectListItem{Text="Hết hàng", Value="0"}
                                            },
                                                new { @class = "btn btn-secondary w-100 text-dark bg-white dropdown-toggle" })
                                        </div>
                                    </div>
                                </div>
                                <div class="container-login100-form-btn">
                                    <button class="login100-form-btn btn btn-primary" type="submit">Lưu</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
